<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<P class="text-center">WELCOME TO CHATZONE...................</P>
	<div style="padding:0px;margin:0px;text-align:center"> 
	
	
</body>

  <nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
		<p class="text-center"><b>copyright</b><span class="glyphicon glyphicon-copyright-mark"></span>2017</p>
		<div style="padding:0px;margin:0px;text-align:center"> 

</div>
		</div>
		</nav>

</html>